@use "../abstracts/variables" as *;

@mixin bg-gradient($color1, $color2) {
  background-image: linear-gradient(to right bottom, (#ff3366, #ba265d));
}

@mixin icon-dimensions() {
  height: 2rem;
  width: 2rem;
}
