/* Reset using universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* border and padding is not added to total height & total width  */
}

html {
  //tHIS DEfines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
