@use "../abstracts" as *;

.container {
  // max-width: 120rem; //If issue in responsiveness --- check this
  margin: 4rem;
  min-height: 60rem;
  background-color: $color-grey-light-2;
  box-shadow: $box-shadow-dark;
}

.main {
  height: 100%;
  display: flex;

  &__content {
    background-color: red;
    flex: 1;
  }
}
.sidebar {
  background-color: $color-grey-dark-1;
  flex: 0 0 20%;
}

// Side Nav
.side__nav {
  list-style: none;
  /* display: flex;
  flex-direction: column; */
  &--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    margin: 1rem;
    // background-color: blue;
    // flex-direction: column;
  }
  &--icon {
    @include icon-dimensions();
    fill: #fff;
    margin-left: 3rem;
  }
  &--item > * {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 3rem;
  }
}
