@use "../abstracts" as *;
@use "../base" as *;

.container {
  // max-width: 120rem; //If issue in responsiveness --- check this
  margin: 4rem;
  min-height: 60rem;
  background-color: $color-grey-light-2;
  box-shadow: $box-shadow-dark;
}

.main {
  height: 100%;
  display: flex;
}
.content {
  height: 90rem;
  flex: 1;
}
.sidebar {
  background-color: $color-grey-dark-1;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Side Nav
.side__nav {
  list-style: none;
  margin-top: 2rem;
  font-size: 1.4rem;
  /*  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  &--item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &--item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    height: 100%;
    width: 3px;
    transform-origin: left;
    transform: scaleX(0);
    // z-index: -1;
    //  transform: scaleY(0);

    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }
  &--item:hover:before,
  &--item-active::before {
    transform: scaleX(1);
    width: 100%;
    //  opacity: 1;
    //  z-index: -1;
    //  transform: scaleY(1);
  }
  &--item:active::before {
    background-color: $color-primary-light;
  }

  &--link:link,
  &--link:visited {
    color: $color-grey-light-1;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    //margin: 2rem;
  }
  &--icon {
    @include icon-dimensions();
    fill: currentColor;
    margin-right: 2rem;
  }
}

.sidebar__footer {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: $color-grey-light-4;
}

//Main content

.gallery {
  display: flex;
  &__photo {
    width: 100%;
    display: block; /* -- check why to use block */
  }
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  border-bottom: 1px solid $color-grey-light-4;

  // height: 4rem;
  &__children {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    // margin-left: 4rem;
    color: $color-grey-dark-3;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    display: flex;
    // margin-top: 0.5rem;
    // margin-left: 2rem;
  }
  &__icon-star,
  &__icon-location {
    @include icon-dimensions();
    fill: $color-primary;
  }

  &__location {
    display: flex;
    justify-content: center;
    margin-right: 3rem;
  }

  &__rating {
    //  margin-right: 4rem;
    text-align: center;
    background-color: $color-primary;
    color: $color-grey-light-3;
    padding: 1rem;
    font-weight: 700;
  }

  &__rating-average {
    font-size: 2.25rem;
  }
  &__rating-count {
    font-size: 0.8rem;
  }
}

.btn-inline {
  border: none;
  cursor: pointer;
  font-size: inherit;
  color: $color-primary;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  //  text-decoration: underline;
  margin-left: 1rem;
  transition: all 0.2s;
  &:hover {
    // outline: none;
    background-color: $color-grey-light-3;
    //  animation: pulaste 1s infinite;
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

//Reviews

/* .reviews {
  background-color: $color-grey-dark-3;
} */
